
  <img [src]="contactus" alt="contactus" class="img-fluid " style="width: 1900px;">
  <div class="container-fluid mycolorsecond py-5">
      <p class="fs-1 text-center py-5  fw-bold">Feel free to Contact Us</p>
      <hr class="w-50 mx-auto  pt-1 bg-primary">
 
<!-- Jazz bhai pic code -->

  <div class="row">
    <div class="col-sm-2"></div>

    <div class="col-sm-4">
      <mat-card>
        <mat-card-title class="text-center">Jazz Jariyan</mat-card-title>
        <mat-card-subtitle class="text-center">Owner of Chanshal Camp</mat-card-subtitle>
        <img mat-card-image [src]="jazz2">
        
        <mat-card-actions class="text-center">
          <img  [src]="whatsapp" ><p class="fs-3">987654321</p>
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div class="col-sm-4 mt-5">
    
    <p class="fs-1 text-center fw-bold text-danger  ">THANKS GUYS...</p>
  <div >
    <mat-card class="bg-info">Hi everyone ! Glad you visited our website. As you know, 
      my name is Jass and I own this camp.
         I am a very kind and friendly person. I love skiing and I am a intermediate skier. I have opened
         Chanshal Camp for you guys and I promise that you won't regret visiting Chanshal. If you don't believe 
         then just check amazing Photos section on this website.
         Good bye !!! Feel free to contact me anytime.
         
         <p style="text-align: right;">--------<span class="text-danger " >Jazz Jariyan</span></p>
        </mat-card>
  </div>
      
    </div>

    <div class="col-sm-2"></div>
  </div>

</div>

<!-- jazz code ends -->

  
<!-- Follow  code -->
  <div class="container-fluid mycolor  ">
    <p class="fs-1  text-center py-5 fw-bold" >Social Accounts</p>
    <hr class="w-50 mx-auto  pt-1 bg-dark">
    <div class="row">
      <div class="col-xs-12 col-sm-6 mt-5">
        <p class="text-center">
        <a [href]="facebookAccount" target="_blank"><button mat-raised-button color="accent"
          matTooltip="Click to follow"
          matTooltipPosition="left">Facebook</button></a>
      <br>
          <img [src]="facebookMobile" >
        </p>
      </div>

      <div class="col-xs-12 col-sm-6 mt-5">
        <p class="text-center">
        <a [href]="instagramAccount" target="_blank"><button mat-raised-button color="accent"
          matTooltip="Click to follow"
          matTooltipPosition="left">Instagram</button></a>
      <br>
          <img [src]="facebookMobile" ></p>
      </div>
        
        </div>
<br><br>
  </div>
  <!-- follow  code ENDS -->
  
  
 
  <img [src]="thought" alt="thought" class="img-fluid ">
 
  
   


