


<img [src]="tour" alt="contactus" class="img-fluid  mat-elevation-z8" style="width: 1900px;">

<div class="container-fluid  mycolor py-5">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-2 mb-3"><mat-card id="myhover"  ><span class="fs-1 text-center">Package 1</span>
            <br><br><br><br>
            4day/3nights<br>
            <span class="text-left">Total Cost : 4000</span><br><br>
           <p class="text-center"><a href="/tourpackage/#package1">  <button class="btn btn-success " >Know More</button></a></p>
           

        </mat-card></div>
        <div class="col-xl-2 mb-3"><mat-card id="myhover"  ><span class="fs-1 text-center">Package 2</span>
            <br><br><br><br>
            3day/2nights<br>
            <span class="text-left">Total Cost : 3000</span><br><br>
           <p class="text-center"> <a href="/tourpackage/#package2"> <button class="btn btn-success " >Know More</button></a></p>
           

        </mat-card></div>
        <div class="col-xl-2 mb-3"><mat-card id="myhover"  ><span class="fs-1 text-center">Package 3</span>
            <br><br><br><br>
            2day/1nights<br>
            <span class="text-left">Total Cost : 2000</span><br><br>
           <p class="text-center"><a href="/tourpackage/#package3"> <button class="btn btn-success " >Know More</button></a></p>
           

        </mat-card></div>
        <div class="col-xl-2 mb-3"><mat-card id="myhover"  ><span class="fs-1 text-center">Package 4</span>
            <br><br><br><br>
            1day<br>
            <span class="text-left">Total Cost : 1000</span><br><br>
           <p class="text-center"><a href="/tourpackage/#package4"> <button class="btn btn-success " >
               Know More</button></a></p>
           

        </mat-card></div>
        <div class="col-xl-2 mb-3"><mat-card id="myhover"  ><span class="fs-1 text-center">Package 5</span>
            <br><br><br><br>
            4day/3nights<br>
            <span class="text-left">Total Cost : 4000</span><br><br>
           <p class="text-center"><a href="/tourpackage/#package5"> <button class="btn btn-success " >Know More</button></a></p>
 

        </mat-card></div>
        <div class="col-xl-1"></div>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
        <div id="package1" class="container-fluid  ">
            <br><br><br><br>
            <h1 >Package 1</h1>
            <p>this info is for package 1</p>
        </div>
        <div id="package2" class="container-fluid  ">
            <br><br><br><br>
            <h1 >Package 2</h1>
            <p>this info is for package 2</p>
        </div>
        <div id="package3" class="container-fluid  ">
            <br><br><br><br>
            <h1 >Package 3</h1>
            <p>this info is for package 3</p>
        </div>
        <div id="package4" class="container-fluid  ">
            <br><br><br><br>
            <h1 >Package 4</h1>
            <p>this info is for package 4</p>
        </div>
        <div id="package5" class="container-fluid  ">
            <br><br><br><br>
            <h1 >Package 5</h1>
            <p>this info is for package 2</p>
        </div>
    </div>
    



</div>


<!-- Last footer Image -->
<img [src]="end" alt="thought" class="img-fluid pt-5 mycolor ">
