<img [src]="home" alt="thought" class="img-fluid  mb-5 " style="width: 1900px;">
   <div class="container-fluid">
    <div class="centered border border-dark rounded  p-3"><h1 class="title my-5">Chanshal Camp</h1>
    <br>
    <p class="subtitle">Book your next holiday at Chanshal</p>
    </div>
  </div>

  
    
  
  <div class="container my-5">
    <h1 class="title">About Chanshal</h1><br>
      <div class="container mt-5">
        <p class="p1">
        The Chanshal Pass or Chanshal Valley links Dodra Kwar and Rohru (Chirgaon) in the Shimla 
        district of the Indian state of Himachal Pradesh. The pass sits atop Chanshal Peak, which at 
        <mark>4,520 metres (14,830 ft)</mark> is the highest peak in the Shimla district. 
        The pass remains open from May to October and is covered with snow for the rest of the year.
      </p>
      </div>
  </div>


   
        <div class="row">
          <div class="col-xl-6">
            <h1>Chanshal Peak during Summer</h1>
         <img [src]="homeimagepara1" alt="thought" class="myImage" >
          </div>
          <div class="col-xl-4">
            <h1>Chanshal Peak during Winters</h1>
            <img [src]="homeimagepara2" alt="thought" class="myImage" >
          </div>
        </div>
 

   
      <h3>Location</h3>
      <p>
        The Chanshal Pass is a 180 kilometres (110 mi) road from Shimla, accessible from May to October. Chanshal is a mountain range that cuts the Dodra Kawar Valley from the Rohru area. Its peaks reach 17,000 feet (5,200 m) and can be accessed from Chanshal Pass.

      </p>
      <h3>
        Accessibility
      </h3>
      <p>
        Chanshal Pass, also known as Chanshal Valley, affords good views of the scenic beauty of the Himalayas. As of June 2012, a single bus operated between Rohru and Dodra Kwar.

        Bus depart from Rohru 12:30 pm and reaches Kwar by 7 pm. Other bus starts from 8:00 AM from Kwar and reaches Rohru by 2:00PM .
        
        Two routes connect Shimla to Chanshal Valley:
        
        Shimla-Theog-Kotkhai-Kharapathar-Hatkoti-Rohru-Larot-Valley, 160 km (99 mi)
        Shimla-Theog-Narkanda-Tikkar-Rohru-Larot-Valley, 175 km (109 mi)
      </p>

  

